.App {
  display: block;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
}
.title {
  padding-left: 5px;
}
.body {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 60px;
}
.card {
  margin: 0px 120px;
}